form {
  grid-column: 1;
  display:grid;
  grid-template-columns: 1;
  grid-template-rows: 4;

}
form h1 {
  display:flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1.5em;
}
form .email {
  display: grid;
  grid-template-columns: 1.75fr 2.25fr 1.75fr;

}
form .email label {
  grid-column: 2;
}
form .email input {
  grid-column: 2;
}
form .password {
  display: grid;
  grid-template-columns: 1.75fr 2.25fr 1.75fr;
}
form .password label {
  grid-column: 2;
  padding-top: 2em;
}
form .password input {
  grid-column: 2;
}
form .login {
  display: grid;
  grid-template-columns: 1.75fr 2.25fr 1.75fr;
  margin-top:1em;
  align-content: left;
}
form .login button {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(45, 101, 255);
  border-color: rgb(45, 101, 255);
  border-width: 0.05em;
  border-radius: 0.3em;
  grid-column: 2;
  height: 2.5em;
  width: 4em;
  padding-top: 0.55em;
  padding-left: 0.7em;
}
form label {
  font-family: Arial, Helvetica, sans-serif;
  font-size:smaller;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
form input {
  font-family: Arial, Helvetica, sans-serif;
  height: 0.8em;
  width: 40em;
  border-style: solid;
  border-color: lightgray;
  border-width: 0.05em;
  border-radius: 0.3em;
  padding: 0.8em;
}