.clear {
  height: 2em;
  border-radius: 0.25em;
  margin-top: 0em;
  margin-bottom: 1em;
  margin-left: -0.45em;
  margin-right: -0.45em;
  padding-top: 1em;
  padding-left: 0.7em;
  padding-bottom: 0em;
  padding-right: 0.7em;
  background-color: rgb(129, 128, 128);
}
.clear a {
  color:rgb(255, 191, 72);
  font-family: Arial, Helvetica, sans-serif;
  font-style: none;
  text-decoration: none;

}
.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.grid a{
  grid-column: 1fr;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.grid img {
  max-width: 20em;
  max-height:35em;
}
.grid .movie-info {
  padding-top:1em;
  grid-column: 4fr;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height:8em;
  font-family: Arial, Helvetica, sans-serif;
}
.movie-info h1 {
  line-height: 0em;
  grid-column: 1;
  display:flex;
  justify-content: flex-start;

}
.movie-info h3 {
  line-height: 0.0em;
  grid-row: 2;
  display:flex;
  justify-content: flex-start;
}
.movie-info .actors{
  line-height: 0.0em;
  grid-row: 3;
  display:flex;
  justify-content: flex-start;
}
.movie-info .summary {
  padding-top: 1em;
  line-height: 0.0em;
  grid-row: 4;
  display:flex;
  justify-content: flex-start;
}